@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}
h1 {
  margin: 0;
  font-size: 2em;
}
main {
  background-color: #ffefef;
  width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  width: 30%;
}
/* Zahlavi - nazev */
.logo-part {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
}
.logo {
  display: block;
  width: 40%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  height: 80%;
  width: 80%;
}
.title {
  text-align: center;
}
.centering {
  text-align: center;
  padding: 10px 100px;
}
/* O restaurace */
.images-dishes {
  margin: 20px 0;
  display: flex;

  justify-content: space-between;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articles article {
  width: 45%;
  margin: 2% 0;
}

/* Jidla z menu */
.dishes {
  overflow: auto;
}
.dishes img {
  padding: 20px;
  width: 45%;
}
.float-left {
  float: left;
}
.float {
  float: right;
}
button {
  margin: 15px 0;
  background-color: #ffefef;
  border: none;
  padding: 10px;
}
/* Footer */
.footer {
  padding: 10px 150px;
  font-size: 0.5em;
  text-align: center;
}
